<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>StudentServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServ</display-name>
    <servlet-name>InsertServ</servlet-name>
    <servlet-class>InsertServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServ</servlet-name>
    <url-pattern>/InsertServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispData</display-name>
    <servlet-name>DispData</servlet-name>
    <servlet-class>DispData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispData</servlet-name>
    <url-pattern>/DispData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData</display-name>
    <servlet-name>DeleteData</servlet-name>
    <servlet-class>DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListData</display-name>
    <servlet-name>ListData</servlet-name>
    <servlet-class>ListData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListData</servlet-name>
    <url-pattern>/ListData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServ</display-name>
    <servlet-name>UpdateServ</servlet-name>
    <servlet-class>UpdateServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServ</servlet-name>
    <url-pattern>/UpdateServ</url-pattern>
  </servlet-mapping>
</web-app>